@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";


.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: sticky;
}
.colSitter {
  z-index: 1;
}
.light {
  background-image: linear-gradient(
    to right,
    rgb(232, 182, 121),
    rgb(215, 179, 131),
    rgb(224, 198, 149),
    rgb(255, 254, 252)
  );
}
.imageLogo {
  border-radius: 100px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerNav {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}
.rowNav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: linear-gradient(
    to right,
    rgb(232, 182, 121),
    rgb(215, 179, 131),
    rgb(224, 198, 149),
    rgb(255, 254, 252)
  );
  align-items: center;
  border: 2px solid black;
}

.colNav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  border-right: 2px solid black;
  height: 100%;
  text-decoration: none;
  color: black;
}
.colNav:hover {
  background-color: rgb(250, 246, 246);
  color: black;
}
#dropdown-basic {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.imgError {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.map-container {
  height: 500px;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
}
.privacyPolicy {
  display: flex;
  text-align: center;
  border: 2px solid black;
}
.imgAboutUs {
  border: 1px solid black;
  border-radius: 30px;
  margin: auto;
}
.founderPicture {
  border-radius: 50px;
  margin-top: 40px;
  z-index: 9;
}
.containerFounderPicture {
  position: relative;
  width: 50%;
  max-width: 300px;
  z-index: 9;
}

.overlay {
  position: absolute;
  z-index: 9;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
}

.containerFounderPicture:hover .overlay {
  opacity: 1;
}
.founderRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sitterContainer {
}
.rowSitters {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 30px;
  background: linear-gradient(
    0.25turn,
    white,
    whitesmoke,
    #ecbe78,
    #fdd5ae,
    #ecc196,
    whitesmoke,
    white
  );
  border-radius: 30px;
}
.sittercard {
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.1);
}
.sitterTitle {
  background: linear-gradient(to right, #080808, #151515, #9e9b9e, #efefee);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-image: linear-gradient(black, rgb(103, 99, 99), grey);
  color: white;
  transform: rotateY(180deg);
  padding-top:50px;
}

@media screen and (max-width: 500px) {
  .overlay {
    font-size: 10px;
    height: 50%;
  }
  .colNav {
    font-size: 15px;
  }
  #dropdown-basic {
    font-size: 15px;
  }
  #petSittersUnited {
    font-size: 25px;
  }
  .founderWrite {
    font-size: 10px;
  }
}
